.about {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px 25px 50px 25px;
}

.about__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.about__wrap {
  display: flex;
  gap: 80px;
}

.about__all-text {
  width: 500px;
}

.about__author {
  display: flex;
  align-items: center;
  padding: 39px 0 0 120px;
  width: 420px;
}

.about__text:not(:last-child) {
  margin: 0 0 30px;
}

.about__list {
  width: 600px;
  height: 596px;
}

.about__item {
  display: flex;
}

.about__text-small {
  width: 100%;
  height: 222px;
  line-height: 28px;
  font-weight: 400;
}

.about__quote {
  position: relative;
  font-size: 44px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 39px 50px 0 39px;
  height: 191px;
}

.about__quote::before {
  position: absolute;
  content: "";
  background-image: url("../img/before.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 50px;
  top: 38px;
  left: 10px;
}

.about__quote::after {
  position: absolute;
  content: "";
  background-image: url("../img/before.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  width: 22px;
  height: 50px;
  top: 165px;
  right: 99px;
}

.about__blockqoute-text {
  font-size: 20px;
  line-height: 28px;
}

@media (max-width: 1024px) {
  .about {
    padding: 70px 25px 30px 0;
  }

  .about__title {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 40px;
  }

  .about__wrap {
    display: flex;
    gap: 80px;
  }

  .about__all-text {
    width: 500px;
  }

  .about__text:not(:last-child) {
    margin: 0 0 26px;
  }

  .about__text:last-child {
    padding-right: 45px;
  }

  .about__list {
    width: 421px;
    height: 0;
    transform: scale(0.7);
  }

  .about__text-small {
    width: 93%;
    height: 196px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 24px;
  }

  .about__author {
    padding: 0 0 0 128px;
    width: 105%;
  }

  .about__quote {
    font-size: 30px;
    line-height: 36px;
    padding: 39px 70px 0 39px;
    width: 100%;
    height: 143px;
  }

  .about__quote::before {
    top: 23px;
    left: 17px;
    transform: scale(0.6);
  }

  .about__quote::after {
    top: 85px;
    right: 206px;
    transform: scale(0.6) rotate(180deg);
  }

  .about__author-pic {
    transform: scale(0.9);
  }

  .about__blockqoute-text {
    font-size: 18px;
    line-height: 26px;
  }
}
