.book {
  max-width: 1240px;
  padding: 80px 30px;
  margin: 0 auto;
  background: var(--purple-darker);
}

.book__title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.book__input-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
}

.book__input {
  margin-bottom: 60px;
}

.book__input-button {
  width: 250px;
  height: 55px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

.joy__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
}

.joy__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 120px 0 90px;
  margin-bottom: 60px;
}

.joy__console-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 25px;
}

.joy__console-item:not(:last-child) {
  margin-bottom: 22px;
}

.joy__console-item {
  display: flex;
  font-size: 22px;
  line-height: 25px;
}

.joy__console-item-label {
  display: flex;
  flex-direction: row-reverse;
  gap: 14px;
}

.joy__console-input {
  width: 27px;
  height: 27px;
}

.board-games__item {
  display: flex;
  font-size: 22px;
}

.board-games__item-label {
  display: flex;
  flex-direction: row-reverse;
  gap: 14px;
}

.board-games__item:not(:last-child) {
  margin-bottom: 20px;
}

.board-games__input {
  width: 25px;
  height: 25px;
}

.addition__input {
  width: 25px;
  height: 25px;
}

.addition__item {
  display: flex;
  font-size: 22px;
}

.addition__item:not(:last-child) {
  margin-bottom: 24px;
}

.addition__item-label {
  display: flex;
  flex-direction: row-reverse;
  gap: 14px;
}

.date__title {
  margin-bottom: 38px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.date__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 14px;
  padding: 0 90px;
  margin-bottom: 40px;
}

.date__input {
  width: 300px;
  height: 52px;
}

.when {
  width: 134px;
  height: 52px;
}

.date__when {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}

.date__submit {
  width: 300px;
  height: 60px;
  margin-left: 67%;
  background: var(--white);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--main-color);
}

.input-text {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.date__quantity {
  align-self: flex-end;
}

.date__input::placeholder {
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
}

.date__submit:hover {
  background: var(--beige);
  border: 3px solid var(--main-color);
}
.date__submit:focus {
  background: var(--white);
  border: 3px solid var(--main-color);
}
.date__submit:active {
  background: var(--beige);
  border: none;
}

.date__input:focus {
  border: 2px solid var(--pink);
  outline: none;
}

.joy__console-input:focus,
.board-games__input:focus,
.addition__input:focus {
  outline: 1px solid var(--pink);
}

.book__input-button {
  display: none;
}

.book__halls {
  display: flex;
  justify-content: space-between;
  border: none;
}

.book__halls-label {
  display: block;
  width: 250px;
  height: 55px;
  padding-top: 7px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--white);
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: black;
  text-align: center;
}

.placeholder-text {
  font-size: 18px;
  color: var(--black);
}

.book__halls-label:hover {
  transition-duration: 200ms;
  background: var(--beige);
  border: 3px solid var(--violet);
}

.book__halls-label:focus {
  transition-duration: 200ms;
  background: var(--white);
  border: 3px solid var(--violet);
}

.book__input-button:checked + .book__halls-label {
  transition-duration: 200ms;
  background: var(--beige);
}
