.book {
  max-width: 1240px;
  padding: 80px 30px;
  margin: 0 auto;
  background: var(--purple-darker);
}

.book__title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.book__input-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
}

.book__input {
  margin-bottom: 60px;
}

.joy__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
}

.joy__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 120px 0 90px;
  margin-bottom: 60px;
}

.joy__console-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 25px;
}

.joy__console-item:not(:last-child) {
  margin-bottom: 22px;
}

.board-games__item:not(:last-child) {
  margin-bottom: 20px;
}

.addition__item:not(:last-child) {
  margin-bottom: 24px;
}

.joy__console-input,
.board-games__input,
.addition__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.joy__console-item,
.board-games__item,
.addition__item {
  display: flex;
  font-size: 22px;
}

.joy__console-input + .joy__console-item-label,
.board-games__input + .board-games__item-label,
.addition__input + .addition__item-label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.joy__console-input + .joy__console-item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: var(--white);
  border-radius: 50%;
}

.joy__console-input:checked + .joy__console-item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: var(--white);
  border-radius: 50%;
  outline: 1px solid var(--pink);
}

.joy__console-input:checked + .joy__console-item-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  border-radius: 50%;
}

.board-games__input + .board-games__item-label::before,
.addition__input + .addition__item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: var(--white);
}

.board-games__input:checked + .board-games__item-label::before,
.addition__input:checked + .addition__item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: var(--white);
  outline: 1px solid var(--pink);
}

.board-games__input:checked + .board-games__item-label::after,
.addition__input:checked + .addition__item-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/check-mark2.svg");
  background-size: contain;
}

.date__title {
  margin-bottom: 38px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.date__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 14px;
  padding: 0 90px;
  margin-bottom: 40px;
}

.date__input {
  width: 300px;
  height: 52px;
}

.when {
  width: 134px;
  height: 52px;
}

.date__when {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}

.date__submit-wrap {
  display: flex;
  justify-content: end;
  padding-right: 90px;
}

.date__submit {
  width: 300px;
  height: 60px;
  background: var(--white);
  box-shadow: 0 0 1em var(--white);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--main-color);
}

.input-text {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.date__quantity {
  align-self: flex-end;
}

.date__input::placeholder {
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
}

.date__submit:hover {
  background: var(--beige);
  border: 3px solid var(--main-color);
}
.date__submit:focus {
  background: var(--white);
  border: 3px solid var(--main-color);
}
.date__submit:active {
  background: var(--beige);
  border: none;
}

.date__input:focus {
  border: 2px solid var(--pink);
  outline: none;
}

.book__input-button {
  display: none;
}

.book__halls {
  display: flex;
  justify-content: space-between;
  border: none;
}

.book__halls-label {
  display: block;
  width: 250px;
  height: 55px;
  padding-top: 7px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--white);
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: var(--black);
  text-align: center;
}

.placeholder-text {
  font-size: 18px;
  color: var(--black);
}

.book__halls-label:hover {
  transition-duration: 200ms;
  background: var(--beige);
  border: 3px solid var(--violet);
}

.book__halls-label:focus {
  transition-duration: 200ms;
  background: var(--white);
  border: 3px solid var(--violet);
}

.book__input-button:checked + .book__halls-label {
  transition-duration: 200ms;
  background: var(--beige);
}

@media (max-width: 1024px) {
  .book {
    padding: 60px;
  }

  .book__title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 40px;
  }

  .book__input-title {
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 28px;
  }

  .book__halls-label {
    width: 180px;
    height: 44px;
    padding-top: 7px;
    border-radius: 6px;
    font-size: 20px;
    line-height: 24px;
  }

  .joy__title {
    margin-bottom: 29px;
  }

  .joy__wrapper {
    padding: 0 66px 0 0;
  }

  .joy__console-title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 25px;
  }

  .addition__item:not(:last-child) {
    margin-bottom: 19px;
  }

  .date__title {
    margin-bottom: 23px;
  }

  .date__wrapper {
    row-gap: 10px;
    column-gap: 15px;
    padding: 0;
    margin-bottom: 50px;
  }

  .date__input {
    width: 254px;
    height: 52px;
  }

  .placeholder-text {
    width: 300px;
    height: 52px;
  }

  .when {
    width: 134px;
    height: 52px;
  }

  .date__submit-wrap {
    padding-right: 0;
  }

  .date__submit {
    width: 254px;
    height: 50px;
    margin-left: 72%;
    font-size: 18px;
    line-height: 24px;
  }

  .input-text {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .book {
    padding: 50px 41px 49px 41px;
  }

  .book__title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 36px;
  }

  .book__input-title {
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 28px;
  }

  .book__halls-label {
    width: 150px;
    height: 38px;
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .book__input {
    margin-bottom: 50px;
  }

  .joy__title {
    margin-bottom: 31px;
  }

  .joy__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 46px;
    padding: 0;
    margin-bottom: 55px;
  }

  .joy__console-item:not(:last-child),
  .addition__item:not(:last-child),
  .board-games__item:not(:last-child) {
    margin-bottom: 26px;
  }

  .joy__console-title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 25px;
  }

  .date__title {
    margin-bottom: 29px;
  }

  .date__wrapper {
    display: grid;
    row-gap: 12px;
    margin-bottom: 48px;
    grid-template-areas:
      "date people"
      "name phone"
      "surname mail";
  }

  .date__input {
    width: 300px;
    height: 52px;
  }

  .when {
    width: 134px;
    height: 52px;
  }

  .date__when {
    margin-bottom: 24px;
    gap: 13px;
  }

  .placeholder-text {
    margin-bottom: 24px;
  }

  .date__submit {
    width: 300px;
    height: 60px;
    margin-left: 0;
    font-size: 22px;
    line-height: 28px;
  }

  .date__submit-wrap {
    display: flex;
    justify-content: end;
  }

  .input-text {
    font-size: 14px;
    line-height: 26px;
  }

  .joy__console-input + .joy__console-item-label::before {
    width: 40px;
    height: 40px;
  }

  .joy__console-input:checked + .joy__console-item-label::before {
    width: 40px;
    height: 40px;
  }

  .joy__console-input:checked + .joy__console-item-label::after {
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
  }

  .board-games__input + .board-games__item-label::before,
  .addition__input + .addition__item-label::before {
    width: 40px;
    height: 40px;
  }

  .board-games__input:checked + .board-games__item-label::before,
  .addition__input:checked + .addition__item-label::before {
    width: 40px;
    height: 40px;
  }

  .board-games__input:checked + .board-games__item-label::after,
  .addition__input:checked + .addition__item-label::after {
    width: 40px;
    height: 40px;
  }

  .joy__console-input + .joy__console-item-label,
  .board-games__input + .board-games__item-label,
  .addition__input + .addition__item-label {
    padding-left: 60px;
    padding-top: 10px;
    text-align: center;
  }

  .date__when {
    grid-area: date;
  }

  .date__first-name {
    grid-area: name;
  }

  .date__phone {
    grid-area: phone;
  }

  .date__quantity {
    grid-area: people;
  }

  .date__last-name {
    grid-area: surname;
  }

  .date__mail {
    grid-area: mail;
  }

  .input-name {
    width: 280px;
    height: 52px;
  }

  .input-surname {
    width: 280px;
    height: 52px;
  }
}

@media (max-width: 320px) {
  .book {
    padding: 30px 0;
  }

  .book__title {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 20px;
  }

  .book__input-title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .book__halls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 14px;
  }

  .book__halls-label {
    width: 130px;
    height: 30px;
    padding-top: 6px;
    font-size: 14px;
    line-height: 18px;
  }

  .book__input {
    margin-bottom: 30px;
  }

  .joy__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .joy__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    padding-left: 20px;
    margin-bottom: 18px;
  }

  .joy__console-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .joy__console-item {
    display: flex;
    height: 30px;
  }

  .joy__console-item:not(:last-child),
  .addition__item:not(:last-child),
  .board-games__item:not(:last-child) {
    margin-bottom: 0px;
  }

  .joy__console-title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .date__title {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 18px;
  }

  .date__wrapper {
    justify-content: center;
    row-gap: 15px;
    margin-bottom: 32px;
    grid-template-areas:
      "date"
      "people"
      "name"
      "surname"
      "phone"
      "mail";
  }

  .date__input {
    width: 280px;
    height: 52px;
  }

  .when {
    width: 134px;
    height: 52px;
  }

  .date__when {
    margin-bottom: 0px;
    gap: 12px;
  }

  .placeholder-text {
    margin-bottom: 13px;
    font-size: 14px;
  }

  .input-surname {
    margin-bottom: 13px;
  }

  .date__submit {
    width: 280px;
    height: 60px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 26px;
  }

  .date__submit-wrap {
    justify-content: center;
  }

  .input-text {
    font-size: 14px;
    line-height: 26px;
  }

  .joy__console-input + .joy__console-item-label::before {
    width: 30px;
    height: 30px;
  }

  .joy__console-input:checked + .joy__console-item-label::before {
    width: 30px;
    height: 30px;
  }

  .joy__console-input:checked + .joy__console-item-label::after {
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
  }

  .board-games__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .addition__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .board-games__input + .board-games__item-label::before,
  .addition__input + .addition__item-label::before {
    width: 30px;
    height: 30px;
  }

  .board-games__input:checked + .board-games__item-label::before,
  .addition__input:checked + .addition__item-label::before {
    width: 30px;
    height: 30px;
  }

  .board-games__input:checked + .board-games__item-label::after,
  .addition__input:checked + .addition__item-label::after {
    width: 30px;
    height: 30px;
  }

  .joy__console-input + .joy__console-item-label,
  .board-games__input + .board-games__item-label,
  .addition__input + .addition__item-label {
    padding-left: 50px;
    padding-top: 0px;
    font-size: 16px;
    line-height: 36px;
  }
}
