.book {
  max-width: 1240px;
  padding: 80px 30px;
  margin: 0 auto;
  background: var(--purple-darker);
}

.book__title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.book__input-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
}

.book__input {
  margin-bottom: 60px;
}

.book__input-button {
  width: 250px;
  height: 55px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

.joy__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
}

.joy__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 120px 0 90px;
  margin-bottom: 60px;
}

.joy__console-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 25px;
}

.joy__console-item:not(:last-child) {
  margin-bottom: 22px;
}

.board-games__item:not(:last-child) {
  margin-bottom: 20px;
}

.addition__item:not(:last-child) {
  margin-bottom: 24px;
}

.joy__console-input,
.board-games__input,
.addition__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.joy__console-item,
.board-games__item,
.addition__item {
  display: flex;
  font-size: 22px;
}

.joy__console-input + .joy__console-item-label,
.board-games__input + .board-games__item-label,
.addition__input + .addition__item-label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.joy__console-input + .joy__console-item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: var(--white);
  border-radius: 50%;
}

.joy__console-input:checked + .joy__console-item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: var(--white);
  border-radius: 50%;
  outline: 1px solid var(--pink);
}

.joy__console-input:checked + .joy__console-item-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(4px, 4px);
  width: 16px;
  height: 16px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  border-radius: 50%;
}

.board-games__input + .board-games__item-label::before,
.addition__input + .addition__item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: var(--white);
}

.board-games__input:checked + .board-games__item-label::before,
.addition__input:checked + .addition__item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: var(--white);
  outline: 1px solid var(--pink);
}

.board-games__input:checked + .board-games__item-label::after,
.addition__input:checked + .addition__item-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/check-mark2.svg");
  background-size: contain;
}

.date__title {
  margin-bottom: 38px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.date__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 14px;
  padding: 0 90px;
  margin-bottom: 40px;
}

.date__input {
  width: 300px;
  height: 52px;
}

.when {
  width: 134px;
  height: 52px;
}

.date__when {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}

.date__submit {
  width: 300px;
  height: 60px;
  margin-left: 67%;
  background: var(--white);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--main-color);
}

.input-text {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.date__quantity {
  align-self: flex-end;
}

.date__input::placeholder {
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
}

.date__submit:hover {
  background: var(--beige);
  border: 3px solid var(--main-color);
}
.date__submit:focus {
  background: var(--white);
  border: 3px solid var(--main-color);
}
.date__submit:active {
  background: var(--beige);
  border: none;
}

.date__input:focus {
  border: 2px solid var(--pink);
  outline: none;
}

.book__input-button {
  display: none;
}

.book__halls {
  display: flex;
  justify-content: space-between;
  border: none;
}

.book__halls-label {
  display: block;
  width: 250px;
  height: 55px;
  padding-top: 7px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--white);
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: black;
  text-align: center;
}

.placeholder-text {
  font-size: 18px;
  color: var(--black);
}

.book__halls-label:hover {
  transition-duration: 200ms;
  background: var(--beige);
  border: 3px solid var(--violet);
}

.book__halls-label:focus {
  transition-duration: 200ms;
  background: var(--white);
  border: 3px solid var(--violet);
}

.book__input-button:checked + .book__halls-label {
  transition-duration: 200ms;
  background: var(--beige);
}
