.footer__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 50px;
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.contacts__wrapper {
  height: 274px;
  display: flex;
  justify-content: space-between;
}

.contacts__address {
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 50px;
  margin-bottom: 36px;
}

.contacts__phone {
  background-image: url("../img/call1.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 50px;
  margin-bottom: 11px;
}

.contacts__mail {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 50px;
}

.social {
  display: flex;
  margin: 40px 0 100px 0;
}

.social-item:not(:first-child) {
  margin-left: 26px;
}

.footer__caption {
  height: 184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.caption__second {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.footer__caption-text {
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.left-side {
  margin-bottom: 22px;
}
