.footer__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 50px;
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.contacts__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.contacts__wrapper {
  height: 274px;
  display: flex;
  justify-content: space-between;
}

.contacts__address {
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 50px;
  margin-bottom: 36px;
}

.contacts__phone {
  background-image: url("../img/call1.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 50px;
  margin-bottom: 11px;
}

.contacts__mail {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 50px;
  margin-bottom: 36px;
}

.social {
  display: flex;
  gap: 26px;
}

.footer__caption {
  height: 184px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__caption-second {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.footer__caption-second__link {
  align-self: flex-end;
  width: 135px;
}

.footer__caption-first__text,
.footer__caption-second__text,
.footer__caption-second__link {
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.left-side {
  padding-bottom: 22px;
}

.social__link-img {
  border-radius: 50%;
}

.social__link-img:hover {
  transition-duration: 200ms;
  background: var(--beige);
}
.social__link-img:focus {
  transition-duration: 200ms;
  background: var(--beige);
}
.social__link-img:active {
  transition-duration: 200ms;
  background: var(--pink);
}

.footer__caption-second__link,
.contacts__phone-link,
.contacts__mail-link {
  text-decoration: none;
  color: var(--white);
}

.footer__caption-second__link:hover,
.contacts__phone-link:hover,
.contacts__mail-link:hover {
  transition-duration: 200ms;
  background-color: var(--main-color);
}

.footer__caption-second__link:active,
.contacts__phone-link:active,
.contacts__mail-link:active {
  transition-duration: 200ms;
  background-color: var(--pink);
}

.contacts__map {
  width: 680px;
  height: 274px;
}

@media (max-width: 1024px) {
  .footer__wrapper {
    padding-top: 21px;
  }

  .contacts__title {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 40px;
  }

  .contacts__wrapper {
    height: 274px;
    padding: 0 60px;
  }

  .contacts__address {
    background-image: url("../img/1024px/location1024.svg");
    padding-left: 40px;
    margin-bottom: 46px;
  }

  .contacts__phone {
    background-image: url("../img/1024px/phone1024.svg");
    padding-left: 39px;
    margin-bottom: 7px;
  }

  .contacts__mail {
    background-image: url("../img/1024px/mail1024.svg");
    padding-left: 40px;
    margin-bottom: 36px;
  }

  .social {
    transform: scale(0.8) translate(-12%);
    gap: 32px;
  }

  .footer__caption {
    height: 137px;
    padding-bottom: 5px;
  }

  .footer__caption-second {
    padding-right: 60px;
  }

  .left-side {
    padding-left: 60px;
  }

  .contacts__map {
    width: 542px;
    height: 274px;
  }
}

@media (max-width: 768px) {
  .footer__wrapper {
    height: 100%;
    padding-top: 21px;
  }

  .contacts__title {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 36px;
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
    height: 100%;
    padding: 0 0px;
  }

  .contacts__text {
    min-width: 342px;
    margin-bottom: 20px;
  }

  .contacts__address {
    background-image: url("../img/1024px/location1024.svg");
    background-position: 80px 0;
    padding-left: 0px;
    margin-bottom: 33px;
    text-align: center;
  }

  .contacts__phone {
    background-image: url("../img/1024px/phone1024.svg");
    background-position: 34px 1px;
    padding-left: 0px;
    margin-bottom: 27px;
    text-align: center;
  }

  .contacts__mail {
    background-image: url("../img/1024px/mail1024.svg");
    background-position: 0 0;
    padding-left: 0px;
    margin-bottom: 23px;
    text-align: center;
  }

  .social {
    transform: scale(0.8) translate(7%);
    gap: 32px;
  }

  .footer__caption {
    height: 100%;
    padding-bottom: 5px;
  }

  .footer__caption-second {
    padding-right: 40px;
  }

  .left-side {
    padding-left: 40px;
  }

  .contacts__map {
    width: 688px;
    height: 337px;
  }
}

@media (max-width: 320px) {
  .footer__wrapper {
    padding-top: 10px;
  }

  .contacts__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__wrapper {
    margin-bottom: 63px;
    height: 100%;
  }

  .contacts__text {
    min-width: 290px;
    margin-bottom: 21px;
  }

  .contacts__address {
    position: relative;
    background-image: none;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__address-upper::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-image: url("../img/320px/location320.svg");
    background-repeat: no-repeat;
    left: 88px;
    top: -3px;
  }

  .contacts__phone {
    position: relative;
    background-image: none;
    margin-bottom: 12px;
    font-size: 14px;
  }

  .contacts__phone:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-image: url("../img/320px/phone320.svg");
    background-repeat: no-repeat;
    top: -3px;
    left: 67px;
  }

  .contacts__mail {
    position: relative;
    background-image: none;
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 14px;
  }

  .contacts__mail:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-image: url("../img/320px/mail320.svg");
    background-repeat: no-repeat;
    top: -3px;
    left: 45px;
  }

  .social {
    transform: scale(0.6) translate(0%);
    gap: 32px;
  }

  .footer__caption {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 5px;
  }

  .footer__caption-second {
    padding-right: 0;
  }

  .footer__caption-second__text {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__caption-second__link {
    text-align: center;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
  }

  .left-side {
    padding: 0px;
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 16px;
  }

  .contacts__map {
    width: 280px;
    height: 194px;
  }
}
