.gameover {
  position: relative;
  height: 890px;
  max-width: 1215px;
  margin: 0 auto;
  padding: 25px 0 50px 0;
}

.gameover__title {
  width: 100%;
  line-height: 100%;
  font-weight: 900;
  font-size: 150px;
  letter-spacing: -0.1em;
}

.gameover__subtitle {
  font-size: 28px;
  line-height: 50px;
  padding-left: 100px;
  margin-bottom: 40px;
}

.gameover__title::before {
  position: absolute;
  content: "";
  background-image: url("../img/hard/main.png");
  background-repeat: no-repeat;
  width: 675px;
  height: 762px;
  bottom: 50px;
  right: 36px;
}

.gameover__text-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  max-width: 527px;
  margin-bottom: 150px;
}

.gameover__second-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.gameover__text-digit {
  text-align: center;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: var(--pink);
}

.gameover__text-new {
  text-align: center;
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: small-caps;
  color: var(--pink);
}

.gameover__text {
  max-width: 193px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.gameover__book-button {
  width: 374px;
  height: 80px;
  background: var(--main-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1em var(--main-color);
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  color: var(--white);
}

.gameover__round-button {
  position: absolute;
  content: "";
  background-image: url("../img/down.svg");
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 97px;
  height: 97px;
  top: 79%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.gameover__book-button:hover {
  transition-duration: 200ms;
  background: var(--violet-lighter);
}

.gameover__book-button:focus {
  transition-duration: 200ms;
  background: var(--violet-lighter);
}

.gameover__book-button:active {
  transition-duration: 200ms;
  background: var(--violet);
}

.gameover__round-button:hover {
  transition-duration: 200ms;
  background-image: url("../img/down-hover.svg");
}

.gameover__round-button:focus {
  transition-duration: 200ms;
  background-image: url("../img/down-focus.svg");
}

.gameover__round-button:active {
  transition-duration: 200ms;
  background-image: url("../img/down-active.svg");
}

@media (max-width: 1024px) {
  .gameover {
    height: 655px;
    padding: 15px 0 42px 0;
  }

  .gameover__title {
    padding-left: 60px;
    font-size: 120px;
    margin-bottom: 21px;
  }

  .gameover__subtitle {
    font-size: 22px;
    line-height: 30px;
    padding-left: 160px;
    margin-bottom: 29px;
  }

  .gameover__title::before {
    background-image: url("../img/1024px/main1024.png");
    width: 453px;
    height: 520px;
    top: 83px;
    right: 66px;
  }

  .gameover__text-wrapper {
    padding-left: 47px;
    column-gap: 1px;
    margin-bottom: 80px;
  }

  .gameover__text-digit {
    font-size: 80px;
    line-height: 113px;
  }

  .gameover__text-new {
    font-size: 60px;
    line-height: 85px;
  }

  .gameover__text {
    max-width: 193px;
    font-size: 26px;
    line-height: 30px;
  }

  .gameover__book-button {
    position: absolute;
    width: 296px;
    height: 64px;
    font-size: 22px;
    top: 469px;
    left: 98px;
  }

  .gameover__round-button {
    transform: scale(0.7);
    top: 72%;
    left: 45%;
  }
}

@media (max-width: 768px) {
  .gameover {
    height: 597px;
    padding: 16px 0 42px 0;
  }

  .gameover__title {
    padding-left: 43px;
    font-size: 86px;
    line-height: 100%;
  }

  .gameover__subtitle {
    padding-left: 110px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 24px;
  }

  .gameover__title::before {
    transform: scale(0.92);
    top: 54px;
    right: 22px;
  }

  .gameover__text-wrapper {
    padding-left: 27px;
    column-gap: 1px;
    margin-bottom: 80px;
  }

  .gameover__text-digit {
    font-size: 50px;
    line-height: 71px;
  }

  .gameover__text-new {
    font-size: 40px;
    line-height: 56px;
  }

  .gameover__text {
    max-width: 126px;
    font-size: 16px;
    line-height: 18px;
  }

  .gameover__book-button {
    width: 214px;
    height: 46px;
    font-size: 16px;
    top: 403px;
    left: 40px;
  }

  .gameover__round-button {
    display: none;
  }
}

@media (max-width: 320px) {
  .gameover {
    height: 235px;
    padding: 8px 0 23px 0;
  }

  .gameover__title {
    margin-bottom: 5px;
    padding-left: 22px;
    font-size: 35px;
  }

  .gameover__subtitle {
    padding-left: 40px;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 14px;
  }

  .gameover__title::before {
    background-image: url("../img/320px/main320.png");
    width: 161px;
    height: 179px;
    transform: scale(1);
    top: 31px;
    right: 22px;
  }

  .gameover__text-wrapper {
    padding-left: 14px;
    column-gap: 0;
    margin-bottom: 80px;
  }

  .gameover__text-digit {
    font-size: 26px;
    line-height: 37px;
  }

  .gameover__text-new {
    font-size: 22px;
    line-height: 31px;
  }

  .gameover__text {
    max-width: 78px;
    font-size: 10px;
    line-height: 11px;
  }

  .gameover__book-button {
    width: 117px;
    height: 27px;
    top: 161px;
    left: 20px;
    font-size: 10px;
    border-radius: 4px;
  }
}
