.gameover {
  position: relative;
  height: 890px;
  max-width: 1215px;
  margin: 0 auto;
  padding: 25px 0 50px 0;
}

.gameover__title {
  width: 100%;
  line-height: 100%;
  font-weight: 900;
  font-size: 150px;
  letter-spacing: -0.1em;
}

.gameover__subtitle {
  font-size: 28px;
  line-height: 50px;
  padding-left: 100px;
  margin-bottom: 40px;
}

.gameover__title::before {
  position: absolute;
  content: "";
  background-image: url("../img/hard/main.png");
  background-repeat: no-repeat;
  width: 675px;
  height: 762px;
  bottom: 50px;
  right: 36px;
}

.gameover__text-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  width: 527px;
  margin-bottom: 150px;
}

.gameover__second-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.gameover__text-digit {
  text-align: center;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: var(--pink);
}

.gameover__text-new {
  text-align: center;
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: small-caps;
  color: var(--pink);
}

.gameover__text {
  max-width: 193px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.gameover__book-button {
  width: 374px;
  height: 80px;
  background: var(--main-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1em var(--main-color);
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  color: var(--white);
}

.gameover__round-button {
  position: absolute;
  content: "";
  background-image: url("../img/down.svg");
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 97px;
  height: 97px;
  top: 79%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.gameover__book-button:hover {
  transition-duration: 200ms;
  background: var(--violet-lighter);
}

.gameover__book-button:focus {
  transition-duration: 200ms;
  background: var(--violet-lighter);
}

.gameover__book-button:active {
  transition-duration: 200ms;
  background: var(--violet);
}

.gameover__round-button:hover {
  transition-duration: 200ms;
  background-image: url("../img/down-hover.svg");
}

.gameover__round-button:focus {
  transition-duration: 200ms;
  background-image: url("../img/down-focus.svg");
}

.gameover__round-button:active {
  transition-duration: 200ms;
  background-image: url("../img/down-active.svg");
}
