.halls {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 30px 100px 30px;
}

.halls__figure {
  position: relative;
  width: 580px;
  height: 349px;
}

.halls__pic-desc {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.halls__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
