.menu {
  max-width: 1240px;
  margin: 0 auto;
  padding: 30px 0 25px 0;
  display: flex;
}

.logo {
  margin-right: 96px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 40px;
  margin-right: 96px;
  font-size: 22px;
  text-transform: uppercase;
}

.menu__button {
  width: 280px;
  height: 55px;
  padding-top: 4px;
  background-color: inherit;
  border: 3px solid var(--pink);
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--white);
}

.menu__button:hover {
  transition-duration: 200ms;
  background: var(--main-color);
}

.menu__button:focus {
  transition-duration: 200ms;
  background: var(--main-color);
}

.menu__button:active {
  transition-duration: 200ms;
  background: var(--violet);
}
