.questions__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
  padding: 0 70px;
  background-color: #fff;
  color: #1c1a1a;
  font-weight: 700;
  font-size: 24px;
  list-style: none;
}

.questions__item-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.questions__item:not(:last-child) {
  margin-bottom: 20px;
}

.questions__item:nth-child(2n) {
  background-color: #440f51;
  color: white;
}

.questions__item-button__even {
  position: relative;
  width: 46px;
  height: 46px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: transparent;
}

.questions__item-button__even:before {
  position: absolute;
  content: "";
  background-image: url("../img/cross-white.svg");
  width: 20px;
  height: 20px;
  top: 27%;
  right: 25%;
}

.questions__item-button__odd {
  position: relative;
  width: 46px;
  height: 46px;
  border: 2px solid #440f51;
  border-radius: 50%;
  background: transparent;
}

.questions__item-button__odd:before {
  position: absolute;
  content: "";
  background-image: url("../img/cross-purple.svg");
  width: 20px;
  height: 20px;
  top: 27%;
  right: 25%;
}

.questions__item-button__even:hover {
  background: white;
}

.questions__item-button__even:hover:before {
  background-image: url("../img/cross-purple.svg");
}

.questions__item-button__odd:hover {
  background: #6c0287;
}

.questions__item-button__odd:hover:before {
  background-image: url("../img/cross-white.svg");
}

.questions__item-button__even:active {
  background: transparent;
}

.questions__item-button__even:active:before {
  position: absolute;
  content: "";
  background-image: url("../img/minus-white.svg");
  width: 20px;
  height: 1px;
  top: 50%;
  right: 25%;
}

.questions__item-button__odd:active {
  background: transparent;
}

.questions__item-button__odd:active:before {
  position: absolute;
  content: "";
  background-image: url("../img/minus-purple.svg");
  width: 20px;
  height: 1px;
  top: 50%;
  right: 25%;
}
