.questions {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 30px;
}

.questions__title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 50px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.questions__item {
  position: relative;
  min-height: 87px;
  cursor: pointer;
  background-color: var(--white);
  color: var(--dark);
  font-weight: 700;
  font-size: 24px;
}

.questions__item-text {
  padding: 4.9rem;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.questions__item-phone {
  font-weight: 700;
  font-size: 24px;
}

.questions__item-summary {
  min-height: 87px;
  display: flex;
  align-items: center;
  outline: none;
}

.summary-text {
  padding-left: 72px;
  font-size: 24px;
  line-height: 28px;
}

.questions__item:not(:last-child) {
  margin-bottom: 20px;
}

.questions__item:nth-child(2n) {
  background-color: var(--purple-darker);
  color: var(--white);
}

.questions__item:nth-child(odd) .questions__item-details:not([open]) .summary-text::after {
  position: absolute;
  content: "";
  background-image: url("../img/open-purple.svg");
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  right: 69px;
  top: 22px;
}

.questions__item:nth-child(even) .questions__item-details:not([open]) .summary-text::after {
  position: absolute;
  content: "";
  background-image: url("../img/open.svg");
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  right: 69px;
  top: 22px;
}

.questions__item:nth-child(odd):hover .questions__item-details:not([open]) .summary-text::after {
  transition-duration: 200ms;
  background-image: url("../img/open-hover-purple.svg");
}

.questions__item:nth-child(even):hover .questions__item-details:not([open]) .summary-text::after {
  transition-duration: 200ms;
  background-image: url("../img/open-hover.svg");
}

.questions__item:nth-child(odd) .questions__item-details[open] .summary-text::after {
  position: absolute;
  content: "";
  background-image: url("../img/close-active-purple.svg");
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  top: 21px;
  right: 69px;
}

.questions__item:nth-child(even) .questions__item-details[open] .summary-text::after {
  position: absolute;
  content: "";
  background-image: url("../img/close-active-white.svg");
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  top: 21px;
  right: 69px;
}

@media (max-width: 1024px) {
  .questions {
    padding: 42px 60px 35px 60px;
  }

  .questions__title {
    margin-bottom: 24px;
    font-size: 30px;
  }

  .questions__item {
    min-height: 70px;
    font-size: 20px;
    line-height: 24px;
  }

  .questions__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .questions__item:last-child {
    display: none;
  }

  .questions__item:nth-child(2n) {
    background-color: var(--white);
    color: var(--black);
  }

  .questions__item-summary {
    min-height: 70px;
  }

  .summary-text {
    padding-left: 30px;
    font-size: 20px;
    line-height: 24px;
  }

  .questions__item:nth-child(odd) .questions__item-details:not([open]) .summary-text::after,
  .questions__item:nth-child(even) .questions__item-details:not([open]) .summary-text::after {
    background-image: url("../img/open-purple.svg");
    top: 12px;
    right: 20px;
  }

  .questions__item:nth-child(odd):hover .questions__item-details:not([open]) .summary-text::after,
  .questions__item:nth-child(even):hover .questions__item-details:not([open]) .summary-text::after {
    background-image: url("../img/open-hover-purple.svg");
    top: 12px;
    right: 20px;
  }

  .questions__item:nth-child(odd) .questions__item-details[open] .summary-text::after,
  .questions__item:nth-child(even) .questions__item-details[open] .summary-text::after {
    background-image: url("../img/close-active-purple.svg");
    top: 12px;
    right: 20px;
  }
}

@media (max-width: 768px) {
  .questions {
    padding: 23px 40px 35px 40px;
  }

  .questions__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 26px;
  }

  .summary-text {
    padding-left: 57px;
    font-size: 18px;
  }

  .questions__item:nth-child(even) .questions__item-details:not([open]) .summary-text::after,
  .questions__item:nth-child(odd) .questions__item-details:not([open]) .summary-text::after,
  .questions__item:nth-child(even):hover .questions__item-details:not([open]) .summary-text::after,
  .questions__item:nth-child(odd):hover .questions__item-details:not([open]) .summary-text::after,
  .questions__item:nth-child(even) .questions__item-details[open] .summary-text::after,
  .questions__item:nth-child(odd) .questions__item-details[open] .summary-text::after {
    top: 12px;
    right: 65px;
  }
}

@media (max-width: 320px) {
  .questions {
    padding: 18px 20px 7px 20px;
  }

  .questions__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .questions__item {
    min-height: 46px;
  }

  .questions__item-summary {
    min-height: 46px;
  }

  .summary-text {
    padding-left: 12px;
    font-size: 12px;
    line-height: 16px;
  }

  .questions__item-phone,
  .questions__item-text {
    font-size: 12px;
    line-height: 16px;
  }

  .questions__item-text {
    padding: 2em;
  }

  .questions__item:nth-child(-n + 2) .summary-text {
    width: 200px;
  }

  .questions__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .questions__item:nth-child(even) .questions__item-details:not([open]) .summary-text::after,
  .questions__item:nth-child(odd) .questions__item-details:not([open]) .summary-text::after,
  .questions__item:nth-child(even):hover .questions__item-details:not([open]) .summary-text::after,
  .questions__item:nth-child(odd):hover .questions__item-details:not([open]) .summary-text::after,
  .questions__item:nth-child(even) .questions__item-details[open] .summary-text::after,
  .questions__item:nth-child(odd) .questions__item-details[open] .summary-text::after {
    transform: scale(0.7);
    top: -1px;
    right: 5px;
  }
}
