.questions__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
  padding: 0 70px;
  cursor: pointer;
  background-color: #fff;
  color: #1c1a1a;
  font-weight: 700;
  font-size: 24px;
  list-style: none;
}

.questions__item-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.questions__item:not(:last-child) {
  margin-bottom: 20px;
}

.questions__item:nth-child(2n) {
  background-color: #440f51;
  color: white;
}

.questions__item:nth-child(odd) .questions__item-button {
  background-image: url("../img/open-purple.svg");
  border: none;
  background-color: transparent;
  width: 46px;
  height: 46px;
}

.questions__item:nth-child(even) .questions__item-button {
  background-image: url("../img/open.svg");
  border: none;
  background-color: transparent;
  width: 46px;
  height: 46px;
}

.questions__item:nth-child(odd):hover .questions__item-button {
  transition-duration: 200ms;
  background-image: url("../img/open-hover-purple.svg");
}

.questions__item:nth-child(even):hover .questions__item-button {
  transition-duration: 200ms;
  background-image: url("../img/open-hover.svg");
}
.questions__item:nth-child(odd):active .questions__item-button {
  transition-duration: 200ms;
  background-image: url("../img/close-active-purple.svg");
}

.questions__item:nth-child(even):active .questions__item-button {
  transition-duration: 200ms;
  background-image: url("../img/close-active-white.svg");
}
