.reviews__wrapper {
  padding: 0 100px 50px 100px;
}

.reviews__part {
  display: flex;
}

.reviews__part:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__name {
  width: 280px;
  height: 28px;
  text-align: center;
  margin-top: 10px;
  font-family: Arial;
  font-size: 20px;
  line-height: 28px;
}

.reviews__text {
  margin: 55px 0 0 20px;
  width: 680px;
  height: 100%;
  line-height: 28px;
}
