.reviews {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 0;
}

.reviews__wrapper {
  padding: 0 130px;
}

.reviews__part {
  display: flex;
}

.reviews__part:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__name {
  width: 280px;
  height: 28px;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  line-height: 28px;
}

.reviews__text {
  width: 680px;
  height: 235px;
  align-self: center;
  line-height: 28px;
}

.reviews__item-avatar {
  margin: 0 20px 10px 0;
}
