:root {
  --main-color: #6c0287;
  --bgc-color: #1b1a1b;
  --pink: #cd06ff;
  --purple-darker: #440f51;
  --beige: #eadeed;
  --violet: #640aa3;
  --violet-lighter: #840aa3;
  --white: #ffffff;
  --black: #211e1e;
  --dark: #1c1a1a;
}
