.we-have__title {
  padding: 0 150px 0 150px;
  line-height: 50px;
}

.we-have__list {
  display: flex;
  justify-content: space-between;
  height: 570px;
}

.we-have__column1,
.we-have__column3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.we-have__column2 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 40px;
}

.we-have__figure {
  position: relative;
  width: 380px;
  height: 228px;
}

.we-have__pic-desc {
  position: absolute;
  width: 300px;
  top: 169px;
  left: 41px;
  font-weight: 700;
  font-size: 20px;
}

.we-have__figure:hover {
  transition-duration: 200ms;
  transform: scale(110%);
}
